<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="home.css"> --}}
    <link rel="stylesheet" href="/css/transation_staff.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
</head>
<style>
    .check_btn {
    background-color:rgb(150, 165, 247)!important;
    cursor:auto!important;
}
</style>
<body>
    
    <div class="page_container">
        <main class="main_content">
            <div id="mainContent">
                <div class="full_container">
                    <div class="content_title">
                        DANH SÁCH TÚI HÀNG ĐẾN
                    </div>
                    
                    <div class="container_product_list">
                        <div class="form_input_time">
                            <div class="since_input">
                                <div class="date-picker-container">
                                    <label for="since_input">Từ ngày:</label>
                                    <div class="picker_container">
                                        <input type="text" name="since_input" class="date-picker-input" id="datepicker1" readonly>
                                        <div class="calendar-icon" onclick="showCalendar1()">&#128197;</div>
                                    </div>
                                  </div>
                            </div>
                            <div class="to_input">
                                <div class="date-picker-container">
                                    <label for="to_input">Đến ngày:</label>
                                    <div class="picker_container">
                                        <input type="text" name="to_input" class="date-picker-input" id="datepicker2" readonly>
                                        <div class="calendar-icon" onclick="showCalendar2()">&#128197;</div>
                                    </div>               
                                  </div>
                            </div>
                            <div class="btn_find_for_date">
                                <div class="btn_tim" id="btn_tim">
                                    <img src="/img/order-search.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="nav_bar_service">
                            <!-- <input type="button" value="Xóa" name="delete">
                            <input type="button" value="Cap nhat trang thai">
                            <input type="button" value="ALL"> -->
                        </div>
                        <div class="product_list" id="product_list">
                            <table id="product_list_table">
                                <thead>
                                    <tr>
                                        <!-- <th><input type="checkbox" name="all" id="check_all"></th> -->
                                        <th>Ma so tui</th>
                                        <th>Buu cuc gui</th>
                                        <!-- <th>Nhan vien tao don</th> -->
                                        <th>Ngay gui</th>
                                        <th>Xac nhan den</th>
                                        <th>Xac nhan chi tiet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
            
                                        </td>
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Dong Hung</span>
                                        </td>
                                        <!-- <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Vu Trong Hieu</span>
                                        </td> -->
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>
                                            <div class="hidden btn_xac_nhan_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span>Đã xác nhận</span>
                                        </td>
                                        <td>
                                            <div class="hidden btn_xac_nhan_chi_tiet_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span>Đã xác nhận</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            
                                        </td>
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Dong Hung</span>
                                        </td>
                                        <!-- <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Vu Trong Hieu</span>
                                        </td> -->
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>
                                            <div class="hidden btn_xac_nhan_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span>Đã xác nhận</span>
                                        </td>
                                        <td>
                                            <div class="hidden btn_xac_nhan_chi_tiet_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span>Đã xác nhận</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            
                                        </td>
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Dong Hung</span>
                                        </td>
                                        <!-- <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Vu Trong Hieu</span>
                                        </td> -->
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>
                                            <div class="hidden btn_xac_nhan_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span>Đã xác nhận</span>
                                        </td>
                                        <td>
                                            <div class="btn_xac_nhan_chi_tiet_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span class="hidden">Đã xác nhận</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            
                                        </td>
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Dong Hung</span>
                                        </td>
                                        <!-- <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Vu Trong Hieu</span>
                                        </td> -->
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>
                                            <div class="btn_xac_nhan_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span class="hidden">Đã xác nhận</span>
                                        </td>
                                        <td>
                                            <div class="btn_xac_nhan_chi_tiet_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span class="hidden">Đã xác nhận</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="error_note" style="display:;">
                            <i style="color: red;">*Không tìm thấy túi hàng</i>
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
    </div>
    <div class="Order_Success hidden" id="Order_Success">
        <div class="ReactModal__Overlay ReactModal__Overlay--after-open" 
            style="position: fixed; inset: 0px; background-color: rgba(39, 39, 42, 0.7); z-index: 999;">
            <div class="ReactModal__Content ReactModal__Content--after-open" 
                tabindex="-1" role="dialog" aria-modal="true" 
                style="position: absolute; inset: 50% 40px auto 50%; border: 1px solid rgb(204, 204, 204); 
                        background: rgb(255, 255, 255); overflow: auto; border-radius: 8px; outline: none; 
                        padding: 16px; width: 311px; transform: translate(-50%, -50%); background-color:">
                <div class="styles__StyledDialog-sc-10typcj-0 Pvpwm">
                    <div class="dialog-content" style="color: rgb(56, 56, 61); margin-bottom: 24px; display: flex;">
                        {{!-- <svg width="24" height="24" class="dialog-content__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px; flex-shrink: 0;"> --}}
                            <img src="/img/success_icon.png" alt="order_success" width="24" height="24" style="margin-right:10px;">
                        {{!-- </svg> --}}
                        <div class="dialog-content__text">
                            <div class="dialog-content__title" style="font-size: 16px; line-height: 24px; font-weight: 500; margin-bottom: 8px;">Xác nhận thành công!!!</div>
                            <div class="dialog-content__message" style="font-size: 14px; line-height: 20px; color: rgb(81, 81, 88); word-break: break-word;">Túi hàng đã được cập nhập lại trạng thái.</div>
                        </div>
                    </div>
                    <div class="dialog-control" style="display: flex; text-align: center; font-size: 14px; line-height: 20px; font-weight: 500; -webkit-box-pack: end; justify-content: flex-end;">
                        <div id="order_page" class="dialog-control__button dialog-control__button--main" 
                            style="padding: 8px 16px; border-radius: 4px; height: 36px; 
                                    cursor: pointer; box-sizing: border-box; 
                                    background-color: rgb(11, 116, 229); 
                                    color: rgb(255, 255, 255);">Xác nhận
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Order_failed hidden" id="Order_failed">
        <div class="ReactModal__Overlay ReactModal__Overlay--after-open" 
            style="position: fixed; inset: 0px; background-color: rgba(39, 39, 42, 0.7); z-index: 999;">
            <div class="ReactModal__Content ReactModal__Content--after-open" 
                tabindex="-1" role="dialog" aria-modal="true" 
                style="position: absolute; inset: 50% 40px auto 50%; border: 1px solid rgb(204, 204, 204); 
                        background: rgb(255, 255, 255); overflow: auto; border-radius: 8px; outline: none; 
                        padding: 16px; width: 311px; transform: translate(-50%, -50%); background-color:">
                <div class="styles__StyledDialog-sc-10typcj-0 Pvpwm">
                    <div class="dialog-content" style="color: rgb(56, 56, 61); margin-bottom: 24px; display: flex;">
                        {{!-- <svg width="24" height="24" class="dialog-content__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px; flex-shrink: 0;"> --}}
                            <img src="/img/cancel.png" alt="order_failed" width="24" height="24" style="margin-right:10px;">
                        {{!-- </svg> --}}
                        <div class="dialog-content__text">
                            <div class="dialog-content__title" style="font-size: 16px; line-height: 24px; font-weight: 500; margin-bottom: 8px;">Xác nhận thất bại!!!</div>
                            <div class="dialog-content__message" style="font-size: 14px; line-height: 20px; color: rgb(81, 81, 88); word-break: break-word;">Túi hàng chưa được cập nhập lại trạng thái.</div>
                        </div>
                    </div>
                    <div class="dialog-control" style="display: flex; text-align: center; font-size: 14px; line-height: 20px; font-weight: 500; -webkit-box-pack: end; justify-content: flex-end;">
                        <div id="cart_page" class="dialog-control__button dialog-control__button--main" 
                            style="padding: 8px 16px; border-radius: 4px; height: 36px; 
                                    cursor: pointer; box-sizing: border-box; 
                                    background-color: rgb(11, 116, 229); 
                                    color: rgb(255, 255, 255);">Xác nhận</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

<script>
    var tmp = document.getElementsByClassName('btn_find_for_date')[0];
    tmp.onclick = function() {
        var date1 = document.getElementById('datepicker1');
        var date2 = document.getElementById('datepicker2');
        console.log(date1.value, date2.value)
    }
</script>
<script>
    var danh_sach_tui = document.getElementById('product_list_table').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
    
    for(var i = 0; i < danh_sach_tui.length; i++) {
        if(!danh_sach_tui[i].getElementsByClassName('btn_xac_nhan_tui')[0].classList.contains('hidden')) {
            danh_sach_tui[i].getElementsByClassName('btn_xac_nhan_chi_tiet_tui')[0].getElementsByTagName('input')[0].classList.add('xac_nhan_chi_tiet_off')
        } else {
            danh_sach_tui[i].getElementsByClassName('btn_xac_nhan_chi_tiet_tui')[0].getElementsByTagName('input')[0].classList.remove('xac_nhan_chi_tiet_off')
        }
    }
</script>
<script>
    var picker1 = new Pikaday({
      field: document.getElementById('datepicker1'),
      format: 'DD/MM/YYYY', // Định dạng ngày tháng
      yearRange: [1900, moment().year()], // Phạm vi năm
      showYearDropdown: true, // Hiển thị dropdown năm
    });
  
    function showCalendar1() {
      picker1.show();
    }

    var picker2 = new Pikaday({
      field: document.getElementById('datepicker2'),
      format: 'DD/MM/YYYY', // Định dạng ngày tháng
      yearRange: [1900, moment().year()], // Phạm vi năm
      showYearDropdown: true, // Hiển thị dropdown năm
    });
  
    function showCalendar2() {
      picker2.show();
    }
  </script>
<script>
    var tu_ngay = document.getElementById('datepicker1');
    var den_ngay = document.getElementById('datepicker2');
    var today = new Date();
    tu_ngay.value = `${today.getDate()}/${today.getMonth()+1}/${today.getFullYear()}`;
    den_ngay.value = `${today.getDate()}/${today.getMonth()+1}/${today.getFullYear()}`;  
</script>
<script>
    var load_data = function() {
        var tu_ngay = document.getElementById('datepicker1').value;
        var den_ngay = document.getElementById('datepicker2').value;
        document.getElementById('product_list').innerHTML = ""

        $.ajax({
            url: '/warehouse_staff/danh_sach_tui_nhan',
            method: 'POST',
            data: {
                tu_ngay: tu_ngay,
                den_ngay: den_ngay
            }
        })
        .done(res => {
            if(res.checkBag) {
                document.getElementById('error_note').style.display = "none"
                document.getElementById('product_list').innerHTML = `
                            <table id="product_list_table">
                                <thead>
                                    <tr>
                                        <th>Mã số túi</th>
                                        <th>Bưu cục gửi</th>
                                        <th>Ngày gửi</th>
                                        <th>Xác nhận đến</th>
                                        <th>Xác nhận chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>`

                for(var i = 0; i < res.data.length; i++) {
                        
                        var content = `<tr>
                                            <td>
                                                <span>${res.data[i]._id}</span>
                                            </td>
                                            <td>
                                                <span>${res.data[i].send_postal_office}</span>
                                            </td>
                                            <td>
                                                <span>${res.data[i].ngay_tao_don}</span>
                                                <span>${res.data[i].gio_tao}</span>
                                            </td>`
                                
                        
                        if(res.data[i].xac_nhan_tui) {
                            content = content + 
                                        `<td>
                                            <span class="">Đã xác nhận</span>
                                        </td>`
                        }  else {
                            content = content + 
                                        `<td>
                                            <div class="btn_xac_nhan_tui" tracking_code="${res.data[i]._id}">
                                                <input type="button" value="Xác nhận">
                                            </div>
                                        </td>`
                        }
                        content = content + 
                                        `<td>
                                            <div class="btn_xac_nhan_chi_tiet_tui off" tracking_code="${res.data[i]._id}">
                                                <input type="button" value="Xác nhận" class="check_btn">
                                            </div>
                                            <span class="hidden">Đã xác nhận</span>
                                        </td>
                                    </tr>`

                        document.getElementsByTagName('tbody')[0].innerHTML = document.getElementsByTagName('tbody')[0].innerHTML + content;
                }


                var list_check_chi_tiet = document.getElementsByClassName("btn_xac_nhan_chi_tiet_tui");
                list_check_chi_tiet = Array.from(list_check_chi_tiet);
                list_check_chi_tiet.forEach(check_chi_tiet => {
                    var xac_nhan_tui = check_chi_tiet.parentNode.previousElementSibling.getElementsByTagName('span').length;
                    if(xac_nhan_tui != 0) {
                            check_chi_tiet.getElementsByTagName("input")[0].classList.remove("check_btn")
                            check_chi_tiet.classList.remove('off')
                    } else {
                            check_chi_tiet.getElementsByTagName("input")[0].classList.add("check_btn")
                            check_chi_tiet.classList.add("off")
                    }
                    console.log(xac_nhan_tui)
                })
                
                xac_nhan_tui()
                xac_nhan_chi_tiet()
            } else {
                document.getElementById('error_note').style.display = "block"
            }
        })
        .fail(err => {
            console.log(err)
        })
    }
</script>
<script>
    var xac_nhan_tui = function() {
        var list_btn = document.getElementsByClassName('btn_xac_nhan_tui');
        list_btn = Array.from(list_btn);
        list_btn.forEach(btn => {
            btn.onclick = function(event) {
                var tracking_code = btn.getAttribute("tracking_code");
                console.log(tracking_code);
                $.ajax({
                    url: '/warehouse_staff/xac_nhan_tui_den',
                    method: 'POST',
                    data: {
                        tracking_code : tracking_code,
                    }
                })
                .done(res => {
                    if(res.message) {
                        xac_nhan_thanh_cong();
                    } else {
                        xac_nhan_that_bai();
                    }
                })
                .fail(err => {
                    console.log(err)
                })
            }
        })
    }

    var xac_nhan_chi_tiet = function() {
        var list_btn_2 = document.getElementsByClassName('btn_xac_nhan_chi_tiet_tui');
        list_btn_2 = Array.from(list_btn_2);
        list_btn_2.forEach(btn => {
            btn.onclick = function(event) {
                if(!btn.classList.contains('off')) {
                    var tracking_code = btn.getAttribute("tracking_code");
                    document.location.href = `./xac_nhan_chi_tiet_tui/${tracking_code}`;
                }
                
            }
        })
    }
</script>
<script>
    var xac_nhan_thanh_cong = function() {
        var Order_Success = document.getElementById('Order_Success')
        Order_Success.classList.remove('hidden');
        var order_page = document.getElementById('order_page')
        order_page.onclick = function(event) {
            window.location.href = './danh_sach_tui_nhan'
        }
    }

    var xac_nhan_that_bai = function() {
        var Order_failed = document.getElementById('Order_failed')
        Order_failed.classList.remove('hide');
        var cart_page = document.getElementById('cart_page')
        cart_page.onclick = function(event) {
            window.location.href = './danh_sach_tui_nhan'
        }
    }
</script>
<script>
    $(document).ready(load_data())

    $(document).ready(function() {
        document.getElementById("btn_tim").onclick = function(event) {
            load_data()
        }
    })
</script>

</html>