<header class="header">
        <div class="container">
            <div class="row">
                <nav>
                    <ul class="main_nav">
                        <li>
                            <a href="/transaction_staff" class="logo_nav">
                                <img src="/img/logo.png" alt="">
                            </a>
                        </li>
                        <li class="header_title">
                            <span>
                                HỆ THỐNG QUẢN LÝ ĐIỂM GIAO DỊCH
                            </span>
                        </li>
                        <li class="menu_item">
                            <a href="/logout">
                                <img src="/img/icon-login.svg" alt="">
                                Đăng xuất
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="back_to_top">
        <img src="/img/icon-back-to-top.svg" alt="">
    </div>
    <div class="sidebar">
        <div class="sidebar_inner">
            <ul class="sidebar_menu">
                <li class="nav_item">
                    <a href="/transaction_staff" class="sidebar_link">
                        <span class="icon_holder">
                            <img src="/img/icon-login.svg" alt="">
                        </span>
                        <span class="title">Tạo đơn</span>
                    </a>
                </li>
                <li class="nav_item">
                    <a href="/transaction_staff/tra_cuu_don" class="sidebar_link">
                        <span class="icon_holder">
                            <img src="/img/icon-login.svg" alt="">
                        </span>
                        <span class="title">Tra cứu đơn</span>
                    </a>
                </li>
                <li class="nav_item">
                    <a href="/transaction_staff/danh_sach_don" class="sidebar_link">
                        <span class="icon_holder">
                            <img src="/img/icon-login.svg" alt="">
                        </span>
                        <span class="title">Danh sách đơn</span>
                    </a>
                </li>
                {{!-- <li class="nav_item">
                    <a href="/transaction_staff/tao_tui" class="sidebar_link">
                        <span class="icon_holder">
                            <img src="/img/icon-login.svg" alt="">
                        </span>
                        <span class="title">Tạo túi hàng</span>
                    </a>
                </li> --}}
                <li class="nav_item">
                    <a href="/transaction_staff/danh_sach_tui_di" class="sidebar_link">
                        <span class="icon_holder">
                            <img src="/img/icon-login.svg" alt="">
                        </span>
                        <span class="title">Danh sách túi đi</span>
                    </a>
                </li>
                <li class="nav_item">
                    <a href="/transaction_staff/danh_sach_tui_nhan" class="sidebar_link">
                        <span class="icon_holder">
                            <img src="/img/icon-login.svg" alt="">
                        </span>
                        <span class="title">Danh sách túi nhận</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>