<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="home.css"> --}}
    <link rel="stylesheet" href="/css/transation_staff.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
</head>
<body>
    
    <div class="page_container">
        <main class="main_content">
            <div id="mainContent">
                <div class="full_container">
                    <div class="content_title">
                        DANH SACH TUI HANG DEN
                    </div>
                    
                    <div class="container_product_list">
                        <div class="form_input_time">
                            <div class="since_input">
                                <div class="date-picker-container">
                                    <label for="since_input">Từ ngày:</label>
                                    <div class="picker_container">
                                        <input type="text" name="since_input" class="date-picker-input" id="datepicker1" readonly>
                                        <div class="calendar-icon" onclick="showCalendar1()">&#128197;</div>
                                    </div>
                                  </div>
                            </div>
                            <div class="to_input">
                                <div class="date-picker-container">
                                    <label for="to_input">Đến ngày:</label>
                                    <div class="picker_container">
                                        <input type="text" name="to_input" class="date-picker-input" id="datepicker2" readonly>
                                        <div class="calendar-icon" onclick="showCalendar2()">&#128197;</div>
                                    </div>               
                                  </div>
                            </div>
                            <div class="btn_find_for_date">
                                <div class="btn_tim">
                                    <img src="/img/order-search.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="nav_bar_service">
                            <!-- <input type="button" value="Xóa" name="delete">
                            <input type="button" value="Cap nhat trang thai">
                            <input type="button" value="ALL"> -->
                        </div>
                        <div class="product_list">
                            <table id="product_list_table">
                                <thead>
                                    <tr>
                                        <!-- <th><input type="checkbox" name="all" id="check_all"></th> -->
                                        <th>Ma so tui</th>
                                        <th>Buu cuc gui</th>
                                        <!-- <th>Nhan vien tao don</th> -->
                                        <th>Ngay gui</th>
                                        <th>Xac nhan den</th>
                                        <th>Xac nhan chi tiet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
            
                                        </td>
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Dong Hung</span>
                                        </td>
                                        <!-- <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Vu Trong Hieu</span>
                                        </td> -->
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>
                                            <div class="hidden btn_xac_nhan_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span>Đã xác nhận</span>
                                        </td>
                                        <td>
                                            <div class="hidden btn_xac_nhan_chi_tiet_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span>Đã xác nhận</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            
                                        </td>
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Dong Hung</span>
                                        </td>
                                        <!-- <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Vu Trong Hieu</span>
                                        </td> -->
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>
                                            <div class="hidden btn_xac_nhan_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span>Đã xác nhận</span>
                                        </td>
                                        <td>
                                            <div class="hidden btn_xac_nhan_chi_tiet_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span>Đã xác nhận</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            
                                        </td>
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Dong Hung</span>
                                        </td>
                                        <!-- <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Vu Trong Hieu</span>
                                        </td> -->
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>
                                            <div class="hidden btn_xac_nhan_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span>Đã xác nhận</span>
                                        </td>
                                        <td>
                                            <div class="btn_xac_nhan_chi_tiet_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span class="hidden">Đã xác nhận</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            
                                        </td>
                                        <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Dong Hung</span>
                                        </td>
                                        <!-- <td>
                                            <span>65412f17bf22195287703a0b</span>
                                            <span>Vu Trong Hieu</span>
                                        </td> -->
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>
                                            <div class="btn_xac_nhan_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span class="hidden">Đã xác nhận</span>
                                        </td>
                                        <td>
                                            <div class="btn_xac_nhan_chi_tiet_tui ">
                                                <input type="button" value="Xac nhan">
                                            </div>
                                            <span class="hidden">Đã xác nhận</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
    </div>
</body>

<script>
    var tmp = document.getElementsByClassName('btn_find_for_date')[0];
    tmp.onclick = function() {
        var date1 = document.getElementById('datepicker1');
        var date2 = document.getElementById('datepicker2');
        console.log(date1.value, date2.value)
    }
</script>
<script>
    var danh_sach_tui = document.getElementById('product_list_table').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
    
    for(var i = 0; i < danh_sach_tui.length; i++) {
        if(!danh_sach_tui[i].getElementsByClassName('btn_xac_nhan_tui')[0].classList.contains('hidden')) {
            danh_sach_tui[i].getElementsByClassName('btn_xac_nhan_chi_tiet_tui')[0].getElementsByTagName('input')[0].classList.add('xac_nhan_chi_tiet_off')
        } else {
            danh_sach_tui[i].getElementsByClassName('btn_xac_nhan_chi_tiet_tui')[0].getElementsByTagName('input')[0].classList.remove('xac_nhan_chi_tiet_off')
        }
    }
</script>
<script>
    var picker1 = new Pikaday({
      field: document.getElementById('datepicker1'),
      format: 'DD/MM/YYYY', // Định dạng ngày tháng
      yearRange: [1900, moment().year()], // Phạm vi năm
      showYearDropdown: true, // Hiển thị dropdown năm
    });
  
    function showCalendar1() {
      picker1.show();
    }

    var picker2 = new Pikaday({
      field: document.getElementById('datepicker2'),
      format: 'DD/MM/YYYY', // Định dạng ngày tháng
      yearRange: [1900, moment().year()], // Phạm vi năm
      showYearDropdown: true, // Hiển thị dropdown năm
    });
  
    function showCalendar2() {
      picker2.show();
    }
  </script>

</html>