<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="home.css"> --}}
    <link rel="stylesheet" href="/css/transation_staff.css">
</head>
<body>
    
    <div class="page_container">
        <main class="main_content">
            <div id="mainContent">
                <div class="full_container">
                    <div class="content_title">
                        TAO TUI HANG
                    </div>
                    <div class="customer_info">
                        <form class="sent_info">
                            <div class="tmp">
                                
                                <div class="form-group">
                                    <div>
                                        <label for="city">Tỉnh/Thành Phố:</label>
                                        <select id="city" name="city" class="citySelect" required>
                                            <option value="city1">--Chọn Tỉnh/Thành phố--</option>
                                        </select>
                                    </div>
                        
                                    <div>
                                        <label for="district">Quận/Huyện:</label>
                                        <select id="district" name="district" class="districtSelect" required>
                                            <option value="district1">--Chọn Quận/Huyện--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="ward">Phường/Xã:</label>
                                        <select id="ward" name="ward" class="communeSelect" required>
                                            <option value="ward0">--Chọn Phường/Xã--</option>
                                            
                                        </select>
                                    </div>
                        
                                    <div>
                                        <label for="postalCode">Mã Bưu Chính:</label>
                                        <select id="postalCode" name="postalCode" class="postal_codeSelect" required>
                                            <option value="code0">--Chọn Mã Bưu Chính--</option>
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="container_product_list">
                        <div class="product_list">
                            <table id="product_list_table">
                                <thead>
                                    <tr>
                                        <!-- <th><input type="checkbox" name="all" id="check_all"></th> -->
                                        <th>Buu cuc giao dich</th>
                                        <th>Ma don hang</th>
                                        <th>Ten khach hang</th>
                                        <th>Ngay tao</th>
                                        <th>Trang thai</th>
                                        <th>Chuyen don</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>65412f17bf22195287703a0b-Dong Hung</td>
                                        <td>65412f17bf22195287703a0b</td>
                                        <td>VU Trong Hieu</td>
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>Dang xu ly</td>
                                        <td>Gui di</td>
                                    </tr>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>65412f17bf22195287703a0b-Dong Hung</td>
                                        <td>65412f17bf22195287703a0b</td>
                                        <td>VU Trong Hieu</td>
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>Dang xu ly</td>
                                        <td>Gui di</td>
                                    </tr>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>65412f17bf22195287703a0b-Dong Hung</td>
                                        <td>65412f17bf22195287703a0b</td>
                                        <td>VU Trong Hieu</td>
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>Dang xu ly</td>
                                        <td>Hang hoan</td>
                                    </tr>
                                    <tr>
                                        <!-- <td><input type="checkbox" name="" id="" class="check_list"></td> -->
                                        <td>65412f17bf22195287703a0b-Dong Hung</td>
                                        <td>65412f17bf22195287703a0b</td>
                                        <td>VU Trong Hieu</td>
                                        <td>
                                            <span>11/11/2023</span>
                                            <span>15:23:00</span>
                                        </td>
                                        <td>Dang xu ly</td>
                                        <td>Hang hoan</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="submit_tao_tui_hang">
                        <div class="btn_tao_tui_hang">
                            <input type="button" value="Xac nhan tao tui hang">
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
    </div>
</body>

<script src="/js/select_city_form.js"></script>

</html>