<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="container">
                <div class="row">
                    <nav>
                        <ul class="main_nav">
                            <li>
                                <a href="/" class="logo_nav">
                                    <img src="/img/logo.png" alt="">
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="/login">
                                    <img src="./img/icon-login.svg" alt="">
                                    Dang nhap
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="/tuyendung">
                                    <img src="./img/icon-tuyen-dung.svg" alt="">
                                    Tuyen dung
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="/hotro">
                                    <img src="./img/icon-support.svg" alt="">
                                    Ho tro
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="/news">
                                    <img src="./img/icon-news.svg" alt="">
                                    Tin tuc
                                </a>
                            </li>
                            <li class="menu_item">
                                <a href="/gioithieu">
                                    <img src="./img/icon-introduce.svg" alt="">
                                    Gioi thieu
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="back_to_top">
            <img src="./img/icon-back-to-top.svg" alt="">
        </div>
</body>
</html>