<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="home.css"> --}}
    <link rel="stylesheet" href="/css/transation_manager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
</head>
<body>
    
    <div class="page_container">
        <main class="main_content">
            <div id="mainContent">
                <div class="full_container">
                    <div class="content_title">
                        DANH SÁCH ĐƠN TẠI BƯU CỤC
                    </div>
                    <div class="container_product_list">
                        <div class="form_input_time">
                            <div class="since_input">
                                <div class="date-picker-container">
                                    <label for="since_input">Từ ngày:</label>
                                    <div class="picker_container">
                                        <input type="text" name="since_input" class="date-picker-input" id="datepicker1">
                                        <div class="calendar-icon" onclick="showCalendar1()">&#128197;</div>
                                    </div>
                                  </div>
                            </div>
                            <div class="to_input">
                                <div class="date-picker-container">
                                    <label for="to_input">Đến ngày:</label>
                                    <div class="picker_container">
                                        <input type="text" name="to_input" class="date-picker-input" id="datepicker2">
                                        <div class="calendar-icon" onclick="showCalendar2()">&#128197;</div>
                                    </div>               
                                  </div>
                            </div>
                            <div class="btn_find_for_date">
                                <div class="btn_tim" id="btn_tim">
                                    <img src="/img/order-search.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="nav_bar_service">
                            {{!-- <input type="button" value="Xóa" name="delete"> --}}
                            {{!-- <input type="button" value="Tạo túi hàng"> --}}
                            <!-- <input type="button" value="ALL"> -->
                        </div>
                        <div class="product_list" id="product_list">
                            
                        </div>
                        <div id="error_note" style="display:;">
                            <i style="color: red;">*Không tìm thấy đơn hàng</i>
                        </div>
                    </div>
                    
                </div>
            </div>
        </main>
    </div>
</body>
<script>
    var tu_ngay = document.getElementById('datepicker1');
    var den_ngay = document.getElementById('datepicker2');
    var today = new Date();
    tu_ngay.value = today.getDate();
    den_ngay.value = today.getDate();  
</script>
<script>
    var picker1 = new Pikaday({
      field: document.getElementById('datepicker1'),
      format: 'DD/MM/YYYY', // Định dạng ngày tháng
      yearRange: [1900, moment().year()], // Phạm vi năm
      showYearDropdown: true, // Hiển thị dropdown năm
    });
  
    function showCalendar1() {
      picker1.show();
    }

    var picker2 = new Pikaday({
      field: document.getElementById('datepicker2'),
      format: 'DD/MM/YYYY', // Định dạng ngày tháng
      yearRange: [1900, moment().year()], // Phạm vi năm
      showYearDropdown: true, // Hiển thị dropdown năm
    });
  
    function showCalendar2() {
      picker2.show();
    }
  </script>

<script>
    $(document).ready(function() {
        var tu_ngay = document.getElementById('datepicker1').value;
        var den_ngay = document.getElementById('datepicker2').value;

        console.log(tu_ngay, den_ngay)
        $.ajax({
            url: '/transaction_manager/danh_sach_don',
            method: 'POST',
            data: {
                tu_ngay: tu_ngay,
                den_ngay: den_ngay
            }
        })
        .done(res => {
                if(res) {
                    if(res.message) {
                        document.getElementById('error_note').style.display = "none"
                        document.getElementById('product_list').innerHTML = `
                            <table id="product_list_table">
                                <thead>
                                    <tr>
                                        {{!-- <th><input type="checkbox" name="all" id="check_all"></th> --}}
                                        <th>Bưu cục giao dịch</th>
                                        <th>Mã đơn hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Ngày tạo đơn</th>
                                        <th>Trạng thái hiện tại</th>
                                        <th>Vị trí hiện tại</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>`

                        for(var i = 0; i < res.data.length; i++) {
                            document.getElementsByTagName('tbody')[0].innerHTML = document.getElementsByTagName('tbody')[0].innerHTML + 
                                    `<tr>
                                        {{!-- <td><input type="checkbox" name="" id="" class="check_list"></td> --}}
                                        <td>
                                            <span>${res.data[i].send_postal_code}</span>
                                            <span>${res.data[i].send_commune}</span>
                                        </td>
                                        <td>${res.data[i]._id}</td>
                                        <td>${res.data[i].send_name}</td>
                                        <td>
                                            <span>${res.data[i].ngay}</span>
                                            <span>${res.data[i].gio}</span>
                                        </td>
                                        <td>${res.data[i].trang_thai_hien_tai}</td>
                                        <td>
                                            <span>${res.data[i].vi_tri_hien_tai}</span>
                                            <span>${res.data[i].vi_tri_hien_tai_2}</span>
                                        </td>
                                    </tr>`
                        }
                    } else {
                        document.getElementById('error_note').style.display = "block"
                    }
                } else {
                    document.getElementById('error_note').style.display = "block"
                }
            })
            .fail(err => console.log(err))
            .always(res => {
                var table = document.getElementById('product_list_table');
                if(table) {
                    var check_all = document.getElementById('check_all');
                    var check_list = document.getElementsByClassName('check_list');

                    check_all.onchange = function() {
                        for(var i = 0; i < check_list.length; i++) {
                            check_list[i].checked = this.checked;
                        }
                    }

                    var check_check_all = function() {
                        for(var j = 0; j < check_list.length; j++) {
                            if(!check_list[j].checked) {
                                return false;
                            }
                        }
                        return true;
                    }

                    for(var i = 0; i < check_list.length; i++) {
                        check_list[i].onchange = function() {
                            if(this.checked) {
                                if(check_check_all()) {
                                    check_all.checked = true;
                                }
                            } else {
                                check_all.checked = false;
                            }
                        }
                    }
                }
            })
    })
</script>
<script>
    $(document).ready(function() {
        $('#btn_tim')[0].onclick = function(event) {
            document.getElementById('product_list').innerHTML = ""
            var tu_ngay = document.getElementById('datepicker1').value;
            var den_ngay = document.getElementById('datepicker2').value;

            console.log(tu_ngay, den_ngay)
            $.ajax({
                url: '/transaction_manager/danh_sach_don',
                method: 'POST',
                data: {
                    tu_ngay: tu_ngay,
                    den_ngay: den_ngay
                }
            })
            .done(res => {
                if(res) {
                    if(res.message) {
                        document.getElementById('error_note').style.display = "none"
                        document.getElementById('product_list').innerHTML = `
                            <table id="product_list_table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="all" id="check_all"></th>
                                        <th>Bưu cục giao dịch</th>
                                        <th>Mã đơn hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Ngày tạo đơn</th>
                                        <th>Trạng thái hiện tại</th>
                                        <th>Vị trí hiện tại</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>`

                        for(var i = 0; i < res.data.length; i++) {
                            document.getElementsByTagName('tbody')[0].innerHTML = document.getElementsByTagName('tbody')[0].innerHTML + 
                                    `<tr>
                                        <td><input type="checkbox" name="" id="" class="check_list"></td>
                                        <td>
                                            <span>${res.data[i].send_postal_code}</span>
                                            <span>${res.data[i].send_commune}</span>
                                        </td>
                                        <td>${res.data[i]._id}</td>
                                        <td>${res.data[i].send_name}</td>
                                        <td>
                                            <span>${res.data[i].ngay}</span>
                                            <span>${res.data[i].gio}</span>
                                        </td>
                                        <td>${res.data[i].trang_thai_hien_tai}</td>
                                        <td>
                                            <span>${res.data[i].vi_tri_hien_tai}</span>
                                            <span>${res.data[i].vi_tri_hien_tai_2}</span>
                                        </td>
                                    </tr>`
                        }
                    } else {
                        document.getElementById('error_note').style.display = "block"
                    }
                } else {
                    document.getElementById('error_note').style.display = "block"
                }
            })
            .fail(err => console.log(err))
            .always(res => {
                var table = document.getElementById('product_list_table');
                if(table) {
                    var check_all = document.getElementById('check_all');
                    var check_list = document.getElementsByClassName('check_list');

                    check_all.onchange = function() {
                        for(var i = 0; i < check_list.length; i++) {
                            check_list[i].checked = this.checked;
                        }
                    }

                    var check_check_all = function() {
                        for(var j = 0; j < check_list.length; j++) {
                            if(!check_list[j].checked) {
                                return false;
                            }
                        }
                        return true;
                    }

                    for(var i = 0; i < check_list.length; i++) {
                        check_list[i].onchange = function() {
                            if(this.checked) {
                                if(check_check_all()) {
                                    check_all.checked = true;
                                }
                            } else {
                                check_all.checked = false;
                            }
                        }
                    }
                }
            })
        }
    })
</script>
</html>