<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="home.css"> --}}
    <link rel="stylesheet" href="/css/transation_manager.css">
</head>
<body>
    
    <div class="page_container">
        <main class="main_content">
            <div id="mainContent">
                
                <div class="full_container">
                    <div class="content_title">
                        CHẤP NHẬN BƯU GỬI LẺ
                    </div>
                    <form action="/" method="post" id="parcel_form">
                    <div class="customer_info">
                        <div class="form sent_info">
                            <div class="tmp">
                            <label for="senderName">Tên Người Gửi
                                <span style="color: red;">*</span>
                                <span>:</span>
                            </label>
                            <input type="text" id="send_name" name="senderName" required>
                            <div class="form-group">
                                <div>
                                    <label for="city">Tỉnh/Thành Phố:</label>
                                    <select id="send_city" name="city" class="citySelect" required disabled>
                                        <option>{{data.city}}</option>
                                    </select>
                                    
                                </div>
                    
                                <div>
                                    <label for="district">Quận/Huyện:</label>
                                    <select id="send_district" name="district" class="districtSelect" required disabled>
                                        <option>{{data.district}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="ward">Phường/Xã:</label>
                                    <select id="send_commune" name="ward" class="communeSelect" required disabled>
                                        <option>{{data.commune}}</option>
                                    </select>
                                </div>
                    
                                <div>
                                    <label for="postalCode">Mã Bưu Chính:</label>
                                    <select id="send_postal_code" name="postalCode" class="postal_codeSelect" required disabled>
                                        <option>{{data._id}}</option>
                                    </select>
                                </div>
                            </div>

                            {{!-- <label for="address_send">Địa chỉ chi tiết</label>
                            <input type="text" id="send_street" name="address_send" required> --}}
                            <div class="form-group">
                                <div>
                                    <label for="phoneNumber">Số Điện Thoại:</label>
                                    <input type="tel" id="send_phone_number" name="phoneNumber" required>
                                </div>
                    
                                <div>
                                    <label for="email">Email:</label>
                                    <input type="email" id="send_email" name="email" required>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="form received_info">
                            <div class="tmp">
                            <label for="senderName">Tên Người Nhận
                                <span style="color: red;">*</span>
                                <span>:</span>
                            </label>
                            <input type="text" id="recipient_name" name="senderName" required>
                            <div class="form-group">
                                <div>
                                    <label for="city">Tỉnh/Thành Phố:</label>
                                    <select id="recipient_city" name="city" class="citySelect" required>
                                        <option >--Chọn Tỉnh/Thành phố--</option>
                                    </select>
                                </div>
                    
                                <div>
                                    <label for="district">Quận/Huyện:</label>
                                    <select id="recipient_district" name="district" class="districtSelect" required>
                                        <option >--Chọn Quận/Huyện--</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="ward">Phường/Xã:</label>
                                    <select id="recipient_commune" name="ward" class="communeSelect" required>
                                        <option >--Chọn Phường/Xã--</option>
                                        
                                    </select>
                                </div>
                    
                                <div>
                                    <label for="postalCode">Mã Bưu Chính:</label>
                                    <select id="recipient_postal_code" name="postalCode" class="postal_codeSelect" required>
                                        <option >--Chọn Mã Bưu Chính--</option>
                                       
                                    </select>
                                </div>
                            </div>

                            {{!-- <label for="address_received">Địa chỉ chi tiết</label>
                            <input type="text" id="recipient_street" name="address_received" required> --}}
                            <div class="form-group">
                                <div>
                                    <label for="phoneNumber">Số Điện Thoại:</label>
                                    <input type="tel" id="recipient_phone_number" name="phoneNumber" required>
                                </div>
                    
                                <div>
                                    <label for="email">Email:</label>
                                    <input type="email" id="recipient_email" name="email" required>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="container_info_product">
                        <div class="form-section">
                            <div class="inline-inputs">
                                <div>
                                    <label for="packageType">Loại Hàng: </label>
                                    <select id="loai_hang" name="packageType">
                                        <option>--Loại hàng gửi--</option>
                                        <option value="Tài liệu">Tài liệu</option>
                                        <option value="Hàng hóa">Hàng hóa</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="weight">Khối Lượng(kg): </label>
                                    <input type="text" name="weight" id="weight" style="width: 90%;" placeholder="0 kg">
                                </div>
                                
                                
                                <div>
                                    <label for="note">Chỉ dẫn khi gửi thất bại: </label>
                                    <select id="chi_dan_gui" name="note">
                                        <option >--Chọn chỉ dẫn--</option>
                                        <option value="Chuyển hoàn ngay">Chuyển hoàn ngay</option>
                                        <option value="Gọi điện cho người gửi">Gọi điện cho người gửi</option>
                                        <option value="Chuyển hoàn trước ngày">Chuyển hoàn trước ngày</option>
                                        <option value="Chuyển hoàn khi hết thời gian lưu trữ">Chuyển hoàn khi hết thời gian lưu trữ</option>
                                        <option value="Hủy">Hủy</option>
                                    </select>
                                </div>
                            
                            </div>
                            <div>
                                <label for="businessValue">Chú Dẫn Nghiệp Vụ</label>
                                <textarea id="chu_dan_nv" name="businessValue" style="width: 100%; height: 80px;"></textarea>
                            </div>
                            <div>
                                <label for="additionalService">Dịch Vụ Thêm</label>
                                <textarea type="text" id="dich_vu" name="additionalService" style="width: 100%; height: 80px;"></textarea>
                            </div>
                            
                        </div>
                
                        <div class="table-section">
                            <div>
                                <span style=" font-size: 18px; font-weight: 400;">
                                    Nội dung trị giá bưu gửi:
                                </span>
                            </div>
                            <table id="parcelTable">
                                <thead>
                                    <tr>
                                        <th>Nội Dung</th>
                                        <th>Số Lượng</th>
                                        <th>Trị Giá</th>
                                        <th>Giấy Tờ Đi Kèm</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{!-- <tr>
                                        <td><input type="text" name="content[]" oninput="updateTotal()"></td>
                                        <td><input type="number" name="quantity[]" oninput="updateTotal()"></td>
                                        <td><input type="number" name="value[]" oninput="updateTotal()"></td>
                                        <td><input type="text" name="documents[]" oninput="updateTotal()"></td>
                                    </tr> --}}
                                    <tr>
                                        <td><input type="text" name="SUM" value="Tổng" style="text-align: center; font-size: 14px; font-weight: 400;" readonly></td>
                                        <td><input type="number" name="quantity[]" readonly></td>
                                        <td><input type="number" name="value[]" readonly></td>
                                        <td><input type="text" name="documents[]" readonly></td>
                                    </tr>
                                </tbody>
                            </table>
                            <span class="add-row-btn" onclick="addRow()">+Thêm Hàng</span>
                
                            <div class="total-section">
                                <div>
                                    <label for="estimatedFee">Cước chính:</label>
                                    <input type="number" id="cuoc_chinh" name="estimatedFee" oninput="updateTotal_()">
                                </div>
                                <div>
                                    <label for="additionalFee">Phụ phí:</label>
                                    <input type="number" id="phu_thu" name="additionalFee" oninput="updateTotal_()">
                                </div>
                
                                <div>
                                    <label for="cashOnDelivery">Thu hộ:</label>
                                    <input type="number" id="thu_ho" name="cashOnDelivery">
                                </div>
                            </div>
                
                            <div class="total-price">
                                <label for="total">Tổng thu:</label>
                                <input type="text" id="total" name="total" readonly style="width: 50%;">
                            </div>
                        </div>
                    </div>
                    <div class="submit_info">
                        <div class="btn_submit_info">
                            <input id="submit_form" type="button" value="TẠO ĐƠN">
                        </div>
                    </div>
                    </form>
                </div>
                
            </div>
        </main>
    </div>
    <div class="Order_Success hidden" id="Order_Success">
        <div class="ReactModal__Overlay ReactModal__Overlay--after-open" 
            style="position: fixed; inset: 0px; background-color: rgba(39, 39, 42, 0.7); z-index: 999;">
            <div class="ReactModal__Content ReactModal__Content--after-open" 
                tabindex="-1" role="dialog" aria-modal="true" 
                style="position: absolute; inset: 50% 40px auto 50%; border: 1px solid rgb(204, 204, 204); 
                        background: rgb(255, 255, 255); overflow: auto; border-radius: 8px; outline: none; 
                        padding: 16px; width: 311px; transform: translate(-50%, -50%); background-color:">
                <div class="styles__StyledDialog-sc-10typcj-0 Pvpwm">
                    <div class="dialog-content" style="color: rgb(56, 56, 61); margin-bottom: 24px; display: flex;">
                        {{!-- <svg width="24" height="24" class="dialog-content__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px; flex-shrink: 0;"> --}}
                            <img src="/img/success_icon.png" alt="order_success" width="24" height="24" style="margin-right:10px;">
                        {{!-- </svg> --}}
                        <div class="dialog-content__text">
                            <div class="dialog-content__title" style="font-size: 16px; line-height: 24px; font-weight: 500; margin-bottom: 8px;">Tạo đơn thành công!!!</div>
                            <div class="dialog-content__message" style="font-size: 14px; line-height: 20px; color: rgb(81, 81, 88); word-break: break-word;">Đơn hàng đã được tạo thành công.</div>
                        </div>
                    </div>
                    <div class="dialog-control" style="display: flex; text-align: center; font-size: 14px; line-height: 20px; font-weight: 500; -webkit-box-pack: end; justify-content: flex-end;">
                        <div id="order_page" class="dialog-control__button dialog-control__button--main" 
                            style="padding: 8px 16px; border-radius: 4px; height: 36px; 
                                    cursor: pointer; box-sizing: border-box; 
                                    background-color: rgb(11, 116, 229); 
                                    color: rgb(255, 255, 255);">Xác nhận
                        </div>
                        <div id="back_home_page" class="dialog-control__button dialog-control__button--secondary" 
                            style="padding: 8px 16px; border-radius: 4px; 
                                    height: 36px; cursor: pointer; box-sizing: border-box; 
                                    border: 1px solid rgb(11, 116, 229); 
                                    color: rgb(11, 116, 229); margin-right: 8px;">Xem hóa đơn
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Order_failed hidden" id="Order_failed">
        <div class="ReactModal__Overlay ReactModal__Overlay--after-open" 
            style="position: fixed; inset: 0px; background-color: rgba(39, 39, 42, 0.7); z-index: 999;">
            <div class="ReactModal__Content ReactModal__Content--after-open" 
                tabindex="-1" role="dialog" aria-modal="true" 
                style="position: absolute; inset: 50% 40px auto 50%; border: 1px solid rgb(204, 204, 204); 
                        background: rgb(255, 255, 255); overflow: auto; border-radius: 8px; outline: none; 
                        padding: 16px; width: 311px; transform: translate(-50%, -50%); background-color:">
                <div class="styles__StyledDialog-sc-10typcj-0 Pvpwm">
                    <div class="dialog-content" style="color: rgb(56, 56, 61); margin-bottom: 24px; display: flex;">
                        {{!-- <svg width="24" height="24" class="dialog-content__icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px; flex-shrink: 0;"> --}}
                            <img src="/img/cancel.png" alt="order_failed" width="24" height="24" style="margin-right:10px;">
                        {{!-- </svg> --}}
                        <div class="dialog-content__text">
                            <div class="dialog-content__title" style="font-size: 16px; line-height: 24px; font-weight: 500; margin-bottom: 8px;">Tạo đơn thất bại!!!</div>
                            <div class="dialog-content__message" style="font-size: 14px; line-height: 20px; color: rgb(81, 81, 88); word-break: break-word;">Đơn hàng chưa được tạo.</div>
                        </div>
                    </div>
                    <div class="dialog-control" style="display: flex; text-align: center; font-size: 14px; line-height: 20px; font-weight: 500; -webkit-box-pack: end; justify-content: flex-end;">
                        <div id="cart_page" class="dialog-control__button dialog-control__button--main" 
                            style="padding: 8px 16px; border-radius: 4px; height: 36px; 
                                    cursor: pointer; box-sizing: border-box; 
                                    background-color: rgb(11, 116, 229); 
                                    color: rgb(255, 255, 255);">Xác nhận</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/select_city_form.js"></script>
<script>
    var send_city = document.getElementById('send_city').value;
    var send_district = document.getElementById('send_district').value;
    var send_commune = document.getElementById('send_commune').value;
    var send_postal_code = document.getElementById('send_postal_code').value;

    console.log(send_city, send_postal_code)
</script>
<script>
    var form = document.getElementById('parcel_form');
    $(document).ready(function () {
            $('#submit_form').click(function (event) {
                var send_name = document.getElementById('send_name').value;
                var recipient_name = document.getElementById('recipient_name').value;
                var send_city = document.getElementById('send_city').value;
                var send_district = document.getElementById('send_district').value;
                var send_commune = document.getElementById('send_commune').value;
                var send_postal_code = document.getElementById('send_postal_code').value;
                {{!-- var send_street = document.getElementById('send_street').value; --}}
                var send_phone_number = document.getElementById('send_phone_number').value;
                var send_email = document.getElementById('send_email').value;
                var recipient_city = document.getElementById('recipient_city').value;
                var recipient_district = document.getElementById('recipient_district').value;
                var recipient_commune = document.getElementById('recipient_commune').value;
                var recipient_postal_code = document.getElementById('recipient_postal_code').value;
                {{!-- var recipient_street = document.getElementById('recipient_street').value; --}}
                var recipient_phone_number = document.getElementById('recipient_phone_number').value;
                var recipient_email = document.getElementById('recipient_email').value;
                var loai_hang = document.getElementById('loai_hang').value;
                var weight = document.getElementById('weight').value || 0;
                var chi_dan_gui = document.getElementById('chi_dan_gui').value;
                var chu_dan_nv = document.getElementById('chu_dan_nv').value;
                var dich_vu = document.getElementById('dich_vu').value;
                var cuoc_chinh = document.getElementById('cuoc_chinh').value || 0;
                var phu_thu = document.getElementById('phu_thu').value || 0;
                var thu_ho = document.getElementById('thu_ho').value || 0;
                var table_item = document.getElementById('parcelTable').getElementsByTagName('tr');

                
                var list_item = [];
                if(table_item.length > 2) {
                    for(var i = 1; i < table_item.length-1; i++) {
                        var item = {
                            name: table_item[i].getElementsByTagName('input')[0].value,
                            so_luong: table_item[i].getElementsByTagName('input')[1].value,
                            tri_gia: table_item[i].getElementsByTagName('input')[2].value,
                            giay_to: table_item[i].getElementsByTagName('input')[3].value
                        }
                        if(item.name != "") {
                            list_item[list_item.length] = item;
                        }
                        
                    }
                    console.log(list_item);
                }   


                $.ajax({
                    type: 'POST',
                    url: '/transaction_manager/tao_don_hang',
                    data: { 
                        send_name : send_name,
                        recipient_name : recipient_name,
                        send_city : send_city,
                        send_district : send_district,
                        send_commune : send_commune,
                        send_postal_code : send_postal_code,
                        {{!-- send_street :send_street, --}}
                        send_phone_number : send_phone_number,
                        send_email : send_email,
                        recipient_city : recipient_city,
                        recipient_district : recipient_district,
                        recipient_commune : recipient_commune,
                        recipient_postal_code : recipient_postal_code,
                        {{!-- recipient_street : recipient_street, --}}
                        recipient_phone_number : recipient_phone_number,
                        recipient_email : recipient_email,
                        loai_hang : loai_hang,
                        weight : weight,
                        chi_dan_gui : chi_dan_gui,
                        chu_dan_nv : chu_dan_nv,
                        dich_vu : dich_vu,
                        cuoc_chinh : cuoc_chinh,
                        phu_thu : phu_thu,
                        thu_ho : thu_ho,
                        list_item : list_item
                    }
                })
                .done(res => {
                    if(res.message) {
                        xac_nhan_thanh_cong(res.code_tracking);
                        {{!-- window.location.href = `/transaction_manager/hoadon/${res.code_tracking}`; --}}
                    } else {
                        xac_nhan_that_bai();
                        {{!-- alert('loi tao hoa don'); --}}
                    }
                })
                .fail(err => {
                    console.log(err)
                })

            });
        });
    
</script>
<script>
    function addRow() {
            var table = document.getElementById("parcelTable").getElementsByTagName('tbody')[0];
            var newRow = table.insertRow(table.rows.length - 1);
            
            // Thêm các ô input cho dòng mới
            for (var i = 0; i < 4; i++) {
                var cell = newRow.insertCell(i);
                var input = document.createElement('input');
                input.type = (i === 0 || i===3) ? 'text' : 'number';
                input.name = (i === 0) ? 'content[]' : (i === 1) ? 'quantity[]' : (i === 2) ? 'value[]' : 'documents[]';
                input.setAttribute('oninput', 'updateTotal()');
                cell.appendChild(input);
            }

            // Cập nhật tổng giá trị
            updateTotal();
        }

        function updateTotal() {
            var table = document.getElementById("parcelTable").getElementsByTagName('tbody')[0];
            var totalQuantity = 0;
            var totalValue = 0;
            

        
            for (var i = 0; i < table.rows.length - 1; i++) {
                var quantity = parseInt(table.rows[i].cells[1].getElementsByTagName('input')[0].value) || 0;
                var value = parseInt(table.rows[i].cells[2].getElementsByTagName('input')[0].value) || 0;

                totalQuantity += quantity;
                totalValue += value*quantity;
            }

            // Cập nhật giá trị cho hàng tổng
            table.rows[table.rows.length - 1].cells[1].getElementsByTagName('input')[0].value = totalQuantity;
            table.rows[table.rows.length - 1].cells[2].getElementsByTagName('input')[0].value = totalValue;
            
        }

        function updateTotal_() {
            var estimatedFee = parseFloat(document.getElementById("cuoc_chinh").value) || 0;
            var additionalFee = parseFloat(document.getElementById("phu_thu").value) || 0;
            var cashOnDelivery = parseFloat(document.getElementById("thu_ho").value) || 0;

            var total = estimatedFee + additionalFee;

            document.getElementById("total").value = total.toFixed(2); // Giữ 2 chữ số thập phân
        }
</script>
<script>
    var xac_nhan_thanh_cong = function(url) {
        var Order_Success = document.getElementById('Order_Success')
        Order_Success.classList.remove('hidden');
        var order_page = document.getElementById('order_page')
        var home_page = document.getElementById('back_home_page')
        order_page.onclick = function(event) {
            window.location.href = ''
        }
        home_page.onclick = function(event) {
            window.location.href = window.location.href = `/transaction_manager/hoadon/${url}`;
        }
    }

    var xac_nhan_that_bai = function() {
        var Order_failed = document.getElementById('Order_failed')
        Order_failed.classList.remove('hide');
        var cart_page = document.getElementById('cart_page')
        cart_page.onclick = function(event) {
            window.location.href = ''
        }
    }
</script>
</html>