<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/find.css">
</head>
<body>
    <div class="container-costs">
        <section class="banner">
            <img src="/img/banner_costs.jpg" style="width: 100%;" alt="">
        </section>
        <section class="breadcrumb-section">
            <nav class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item individual">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Ước tính chi phí
                    </li>
                </ol>
            </nav>
        </section>
        <section class="block-search-post-office "style="background-color:#fff;">
            <div class="container">
                <div class="row">
                    <div class="box-title text-uppercase">
                        Ước tính chi phí
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane">
                        <section class="form-tinh-cuoc-phi">
                            <form id="formChargeFee" novalidate="novalidate">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="font-weight-bold">
                                            Gửi từ
                                            <div class="d-inline" style="color: #ff0000;">*</div>
                                            :
                                        </label>
                                        <select name="form-address" required class="form-control send-from citySelect">
                                            <option >--Chọn tỉnh gửi--</option>
                                            
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold">
                                            Gửi đến
                                            <div class="d-inline" style="color: #ff0000;">*</div>
                                            :
                                        </label>
                                        <select name="to-address" required class="form-control send-to citySelect">
                                            <option >--Chọn tỉnh nhận--</option>
                                            
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold">
                                            Khối lượng (Kg)
                                            <div class="d-inline" style="color: #ff0000;">*</div>
                                            :
                                        </label>
                                        <input type="number" class="form-control weight" name="weight" placeholder="Nhập khối lượng">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-bold">
                                            Chi phí (VND):
                                            <div class="d-inline" style="color: #ff0000;"></div>
                                        </label>
                                        <input type="text" value="0 VND" class="form-control weight costs" disabled>
                                    </div>
                                    <div class="btn-costs">
                                        <button type="submit" class="btn">
                                            Tra cứu
                                            <img src="/img/spin-infinite.gif" style="height: 30px; display: none;">
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div id="result" style="color: #ff0000;"></div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="/js/select_city_form.js"></script>
<script>
    $(document).ready(function () {
            $('#formChargeFee').submit(function (event) {
                event.preventDefault();
                
                document.getElementsByClassName('btn')[0].getElementsByTagName('img')[0].style.display = "inline-block";

                var city1 = document.getElementsByClassName('send-from')[0].value;
                var city2 = document.getElementsByClassName('send-to')[0].value;
                var weight = document.getElementsByClassName('weight')[0].value;
                console.log(city1, city2, weight);
                

                $.ajax({
                    type: 'POST',
                    url: '/getDistance',
                    data: { city1, city2 },
                    success: function (response) {
                        var costs = document.getElementsByClassName('costs')[0];
                        costs.value =  parseFloat(response.distance*weight*200 + 50000).toString() + ' VNĐ';
                        document.getElementsByClassName('btn')[0].getElementsByTagName('img')[0].style.display = "none";
                        $('#result').text('');
                    },
                    error: function (error) {
                        console.error(error);
                        $('#result').text('Error calculating distance.');
                        document.getElementsByClassName('btn')[0].getElementsByTagName('img')[0].style.display = "none";
                    }
                });
            });
        });
</script>
</html>