<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/find_post.css">
</head>
<body>
    <div class="container-find-post">
        <section class="banner">
            <img src="/img/banner-tim-buu-cuc.jpeg" style="width: 100%;" alt="">
        </section>
        <section class="breadcrumb-section">
            <nav class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item individual">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Tìm kiếm bưu cục
                    </li>
                </ol>
            </nav>
        </section>
        <section class="block-search-post-office">
            <div class="container">
                <div class="row">
                    <div class="box-title text-uppercase">
                        Tìm kiếm bưu cục
                    </div>
                    <form style="width: 100%;" id="form_postal_office">
                        <div class="col-search-box">
                            <div class="search-box">
                                <div class="col-tmp-1 col-left">
                                    <label>Tỉnh/Thành phố</label>
                                    <select name="provinceId" id="city" class="form-control citySelect">
                                        <option value="-1">Chọn Tỉnh/Thành phố</option>
                                        
                                    </select>
                                </div>
                                <div class="col-tmp-1 col-left col-right">
                                    <label>Quận/Huyện</label>
                                    <select name="districtId" id="district" class="form-control districtSelect">
                                        <option value="-1">Chọn Quận/Huyện</option>
                                        
                                    </select>
                                </div>
                                <div class="col-tmp-2 col-right col-left">
                                    <input type="submit" value="Tìm Kiếm" class="btn btn-search-branch">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row-list-infomation">
                    <div class="list-col col-right">
                        <div class="list-post">
                            <div class="content-list-post">
                                <h2>Danh sách bưu cục</h2>
                                <div class="list-office">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="map" class="map-col" api="AIzaSyBTl18VGbowzRXU8CZmDF3_tWCQxbNupbA">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15743717.478300229!2d95.23516860259727!3d15.555221179110516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31157a4d736a1e5f%3A0xb03bb0c9e2fe62be!2zVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1699382055486!5m2!1svi!2s" width="710" height="510" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>               
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="/js/select_city_form.js"></script>
<script>
    $(document).ready(function () {
            $('#form_postal_office').submit(function (event) {
                event.preventDefault();
                
                
                var city = document.getElementById('city').value;
                var district = document.getElementById('district').value;
               
                var list_office_contain = document.getElementsByClassName('list-office')[0];
                list_office_contain.innerHTML = "";
                

                $.ajax({
                url: '/find_post_office',
                type: 'POST',
                data: {
                    city: city,
                    district: district
                }
                })
                .done(res => {
                    if(res){
                        console.log(res.data);
                        res.data.forEach(item => {
                            console.log(item);
                            list_office_contain.innerHTML += `<div class="post-item">
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-code.png" class="img_icon-code">
                                                Mã số: 
                                            </span>
                                            <b class="post-code">${item._id}</b>
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-buu-cuc.svg" class="img_icon-code">
                                                Bưu cục: 
                                            </span>
                                            <b>${item.name}</b> 
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-location.svg" class="img_icon-code">
                                                Địa chỉ: 
                                            </span>
                                            <b>${item.street} (ĐT: ${item.phone_number})</b>              
                                        </p>
                                    </div>`
                                    
                        })
                    }
                })
                .fail(err => {
                    console.log(err)
                    })
            });
        });
</script>
</html>