<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/find_post.css">
</head>
<body>
    <div class="container-find-post">
        <section class="banner">
            <img src="/img/banner-tim-buu-cuc.jpeg" style="width: 100%;" alt="">
        </section>
        <section class="breadcrumb-section">
            <nav class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item individual">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Tim kiem buu cuc
                    </li>
                </ol>
            </nav>
        </section>
        <section class="block-search-post-office">
            <div class="container">
                <div class="row">
                    <div class="box-title text-uppercase">
                        Tim Kiem Buu cuc
                    </div>
                    <form action="" style="width: 100%;">
                        <div class="col-search-box">
                            <div class="search-box">
                                <div class="col-tmp-1 col-left">
                                    <label>Tinh/Thanh pho</label>
                                    <select name="provinceId" id="province" class="form-control">
                                        <option value="-1">Chon Tinh/Thanh pho</option>
                                        <option value="29">Ha Noi</option>
                                        <option value="17">Thai Binh</option>
                                        <option value="19">Phu Tho</option>
                                        <option value="90">Ha Nam</option>
                                    </select>
                                </div>
                                <div class="col-tmp-1 col-left col-right">
                                    <label>Quan/Huyen</label>
                                    <select name="districtId" id="district" class="form-control">
                                        <option value="-1">Chon Quan/Huyen</option>
                                        <option value="291">Dong Da</option>
                                        <option value="292">Cau Giay</option>
                                    </select>
                                </div>
                                <div class="col-tmp-2 col-right col-left">
                                    <input type="submit" value="Tim Kiem" class="btn btn-search-branch">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row-list-infomation">
                    <div class="list-col col-right">
                        <div class="list-post">
                            <div class="content-list-post">
                                <h2>Danh sach buu cuc</h2>
                                <div class="list-office">
                                    <div class="post-item">
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-code.png" class="img_icon-code">
                                                Ma so: 
                                            </span>
                                            <b class="post-code">551000</b>
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-buu-cuc.svg" class="img_icon-code">
                                                Buu cuc: 
                                            </span>
                                            <b>Buu cuc 2 trung tam Ha Noi</b> 
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-location.svg" class="img_icon-code">
                                                Dia chi: 
                                            </span>
                                            <b>So 162, Xa Dan, Quan Dong Da(DT: 0999999999)</b>              
                                        </p>
                                    </div>
                                    <div class="post-item">
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-code.png" class="img_icon-code">
                                                Ma so: 
                                            </span>
                                            <b class="post-code">551000</b>
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-buu-cuc.svg" class="img_icon-code">
                                                Buu cuc: 
                                            </span>
                                            <b>Buu cuc 2 trung tam Ha Noi</b> 
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-location.svg" class="img_icon-code">
                                                Dia chi: 
                                            </span>
                                            <b>So 162, Xa Dan, Quan Dong Da(DT: 0999999999)</b>              
                                        </p>
                                    </div>
                                    <div class="post-item">
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-code.png" class="img_icon-code">
                                                Ma so: 
                                            </span>
                                            <b class="post-code">551000</b>
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-buu-cuc.svg" class="img_icon-code">
                                                Buu cuc: 
                                            </span>
                                            <b>Buu cuc 2 trung tam Ha Noi</b> 
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-location.svg" class="img_icon-code">
                                                Dia chi: 
                                            </span>
                                            <b>So 162, Xa Dan, Quan Dong Da(DT: 0999999999)</b>              
                                        </p>
                                    </div>
                                    <div class="post-item">
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-code.png" class="img_icon-code">
                                                Ma so: 
                                            </span>
                                            <b class="post-code">551000</b>
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-buu-cuc.svg" class="img_icon-code">
                                                Buu cuc: 
                                            </span>
                                            <b>Buu cuc 2 trung tam Ha Noi</b> 
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-location.svg" class="img_icon-code">
                                                Dia chi: 
                                            </span>
                                            <b>So 162, Xa Dan, Quan Dong Da(DT: 0999999999)</b>              
                                        </p>
                                    </div>
                                    <div class="post-item">
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-code.png" class="img_icon-code">
                                                Ma so: 
                                            </span>
                                            <b class="post-code">551000</b>
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-buu-cuc.svg" class="img_icon-code">
                                                Buu cuc: 
                                            </span>
                                            <b>Buu cuc 2 trung tam Ha Noi</b> 
                                        </p>
                                        <p>
                                            <span class="title-post">
                                                <img src="./img/icon-location.svg" class="img_icon-code">
                                                Dia chi: 
                                            </span>
                                            <b>So 162, Xa Dan, Quan Dong Da(DT: 0999999999)</b>              
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="map" class="map-col" api="AIzaSyBTl18VGbowzRXU8CZmDF3_tWCQxbNupbA">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15743717.478300229!2d95.23516860259727!3d15.555221179110516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31157a4d736a1e5f%3A0xb03bb0c9e2fe62be!2zVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1699382055486!5m2!1svi!2s" width="710" height="510" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>               
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>