<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<script src="/jquery/jquery.js"></script>
<script src='/js/Cookies.js'></script>
<body>

    {{#if transaction_staff_header}}
        {{> transaction_staff_header/header}}
    {{else if none_header}} 
        
    {{else}}
        {{> header}}
    {{/if}}


    {{{body}}}


    {{#if (or none_header transaction_staff_header)}}
    
    {{else}}
        {{> footer}}
    {{/if}}
    
</body>
</html>